<div class="bar1">
  <div class="each4th">
    <div class="each_g1">
      <p class="unit" style="margin: 0px">Lube Oil Temperature [Deg C]</p>
      <apx-chart #chart1 [series]="chartOptions1.series" [chart]="chartOptions1.chart"
        [plotOptions]="chartOptions1.plotOptions" [colors]="chartOptions1.colors" [legend]="chartOptions1.legend">
      </apx-chart>
    </div>
  </div>
  <div class="each4th">
    <div class="each_g1">
      <p class="unit" style="margin: 0px">Discharge Air Temperature [Deg C]</p>
      <apx-chart #chart2 [series]="chartOptions2.series" [chart]="chartOptions2.chart"
        [plotOptions]="chartOptions2.plotOptions" [colors]="chartOptions2.colors" [legend]="chartOptions2.legend">
      </apx-chart>
    </div>
  </div>
  <div class="each4th">
    <div class="each_g1">
      <p class="unit" style="margin: 0px">Inlet Air Temperature [Deg C]</p>
      <apx-chart #chart3 [series]="chartOptions3.series" [chart]="chartOptions3.chart"
        [plotOptions]="chartOptions3.plotOptions" [colors]="chartOptions3.colors" [legend]="chartOptions3.legend">
      </apx-chart>
    </div>
  </div>
  <div class="each4th">
    <div class="each_g1">
      <p class="unit" style="margin: 0px">Compressor 1 Current (Amp)</p>
      <apx-chart #chart4 [series]="chartOptions4.series" [chart]="chartOptions4.chart"
        [plotOptions]="chartOptions4.plotOptions" [colors]="chartOptions4.colors" [legend]="chartOptions4.legend">
      </apx-chart>
    </div>
  </div>
</div>
<div class="radial">
  <div class="each4thr">
    <p class="unit unitr" style="margin: 0px">Lube Oil Pressure</p>
    <apx-chart #chart9 [series]="chartROptions1.series" [chart]="chartROptions1.chart"
      [plotOptions]="chartROptions1.plotOptions" [labels]="chartROptions1.labels"
      [fill]="chartROptions1.fill"></apx-chart>
  </div>
  <div class="each4thr">
    <p class="unit unitr" style="margin: 0px">System Pressure</p>
    <apx-chart #chart10 [series]="chartROptions2.series" [chart]="chartROptions2.chart"
      [plotOptions]="chartROptions2.plotOptions" [labels]="chartROptions2.labels"
      [fill]="chartROptions2.fill"></apx-chart>
  </div>
  <div class="each4thr">
    <p class="unit unitr" style="margin: 0px">Compressor 4 Air Flow</p>
    <apx-chart #chart11 [series]="chartROptions3.series" [chart]="chartROptions3.chart"
      [plotOptions]="chartROptions3.plotOptions" [labels]="chartROptions3.labels"
      [fill]="chartROptions3.fill"></apx-chart>
  </div>
  <div class="each4thr">
    <p class="unit unitr" style="margin: 0px">Compressor 1 Running Hour</p>
    <apx-chart #chart12 [series]="chartROptions4.series" [chart]="chartROptions4.chart"
      [plotOptions]="chartROptions4.plotOptions" [labels]="chartROptions4.labels"
      [fill]="chartROptions4.fill"></apx-chart>
  </div>
</div>
<div class="bar2">
  <div class="each4th">
    <div class="each_g1">
      <p class="unit" style="margin: 0px">Compressor 4 Motor Current [amp]</p>
      <apx-chart #chart5 [series]="chartOptions5.series" [chart]="chartOptions5.chart"
        [plotOptions]="chartOptions5.plotOptions" [colors]="chartOptions5.colors" [legend]="chartOptions5.legend">
      </apx-chart>
    </div>
  </div>
  <div class="each4th">
    <div class="each_g1">
      <p class="unit" style="margin: 0px">Vibration Stage I [mills]</p>
      <apx-chart #chart6 [series]="chartOptions6.series" [chart]="chartOptions6.chart"
        [plotOptions]="chartOptions6.plotOptions" [colors]="chartOptions6.colors" [legend]="chartOptions6.legend">
      </apx-chart>
    </div>
  </div>
  <div class="each4th">
    <div class="each_g1">
      <p class="unit" style="margin: 0px">Vibration Stage II [mills]</p>
      <apx-chart #chart7 [series]="chartOptions7.series" [chart]="chartOptions7.chart"
        [plotOptions]="chartOptions7.plotOptions" [colors]="chartOptions7.colors" [legend]="chartOptions7.legend">
      </apx-chart>
    </div>
  </div>
  <div class="each4th">
    <div class="each_g1">
      <p class="unit" style="margin: 0px">Vibration Stage III [mills]</p>
      <apx-chart #chart8 [series]="chartOptions8.series" [chart]="chartOptions8.chart"
        [plotOptions]="chartOptions8.plotOptions" [colors]="chartOptions8.colors" [legend]="chartOptions8.legend">
      </apx-chart>
    </div>
  </div>
</div>
<div class="table_con">
  <table style="width: 100%" class="styled-table">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody class="text_design">
      <tr>
        <td>Running Status</td>
        <td>
          {{ com4
          ? (com4.MOTOR_CURR_COMP4 <= 50 ? '0' : '1' ) : '' }} </td>
      </tr>
      <tr>
        <td>Motor Current [amp]</td>
        <td>{{com4?.MOTOR_CURR_COMP4}}</td>
      </tr>
      <tr>
        <td>Compressor I Flow [Nm3/hr]</td>
        <td>{{com4?.AirFlow}}</td>
      </tr>
      <tr>
        <td>Inlet Valve Position</td>
        <td>{{com4?.InletValvePosition}}</td>
      </tr>
      <tr>
        <td>By Pass Valve Position</td>
        <td>{{com4?.BypassValve}}</td>
      </tr>
      <tr>
        <td>POP Running</td>
        <td>{{com4?.POPrunning}}</td>
      </tr>
      <tr>
        <td>Common Trip</td>
        <td>{{com4?.CommonTrip}}</td>
      </tr>
      <tr>
        <td>Common Alarm</td>
        <td>{{com4?.CommonAlarm}}</td>
      </tr>
      <tr>
        <td>Compressor 1 Running Hour [in Hrs]</td>
        <td>{{com4?.RUN_HR_COMP4}}</td>
      </tr>
    </tbody>
  </table>
  <table style="width: 100%" class="styled-table">
    <thead>
      <tr>
        <th>Parameter</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody class="text_design">
      <tr>
        <td>Lube Oil Temperature [Deg C]</td>
        <td>{{com4?.LubeOilTemp}}</td>
      </tr>

      <tr>
        <td>Discharge Air Temperature [Deg C]</td>
        <td>{{com4?.DischargeAirTemp}}</td>
      </tr>
      <tr>
        <td>Inlet Air Temperature [Deg C]</td>
        <td>{{com4?.InletAirTemStage}}</td>
      </tr>
      <tr>
        <td>Inlet Air Temperature Stg II [Deg C]</td>
        <td>{{com4?.InletAirTempStage2}}</td>
      </tr>
      <tr>
        <td>Lube Oil Pressure [kg/cm2]</td>
        <td>{{com4?.LubeoilPressure}}</td>
      </tr>
      <tr>
        <td>System Pressure [kg/cm2]</td>
        <td>{{com4?.SystemPressure}}</td>
      </tr>
      <tr>
        <td>Vibration Stage I [mills]</td>
        <td>{{ com4 ? (com4.VibrationStage1 ?? 0) : '' }}</td>
      </tr>
      <tr>
        <td>Vibration Stage II [mills]</td>
        <td>{{com4?.VibrationStage2}}</td>
      </tr>
      <tr>
        <td>Vibration Stage III [mills]</td>
        <td>{{com4?.VibrationStgae3}}</td>
      </tr>
    </tbody>
  </table>
</div>