<table class="status-table">
  <caption>
    <button class="header-btn">Electrical Status</button>
  </caption>

  <tr class="section-header">
    <th colspan="2">Cooling Tower Fan</th>
  </tr>
  <tr *ngFor="let fan of coolingTowerFans">
    <td>{{ fan.name }}</td>
    <td
      [ngClass]="{
        'status-running': fan.status === 1,
        'status-stopped': fan.status === 0
      }"
    >
      Running Status
    </td>
  </tr>

  <tr class="section-header">
    <th colspan="2">Cooling Water Pump</th>
  </tr>
  <tr *ngFor="let pump of coolingWaterPumps">
    <td>{{ pump.name }}</td>
    <td
      [ngClass]="{
        'status-running': pump.status === 1,
        'status-stopped': pump.status === 0
      }"
    >
      Running Status
    </td>
  </tr>
</table>
