.header{
    display: flex;
    flex-direction: row;
    background-color: rgb(16, 25, 75);
    padding: 10px 0;
    // position: fixed; 
    width: 100%;   
}
li{
  margin: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.header li.active {
  // background: #4cafef;
  color: #fdfa54;
  font-weight: 500;
}