.status{
    display: flex;
}
.graph1{
    display: flex;
}
.graph2{
    display: flex;
}
.graph3{
    display: flex;
    margin-bottom: 20px;
}
.each_com{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid  rgb(163, 163, 163)
    ;
    padding: 10px;
}

.com_icon{
    height: 130px;
    // padding: 5px;
}

.each_g1{
    // display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(163, 163, 163);
    padding: 10px;
}
.each_g2{
    // display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(163, 163, 163);
    padding: 10px;
}
.each_g3{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid  rgb(163, 163, 163);
    padding: 10px;
}

.red_text{
color: red;
font-weight: bold;
font-size: 25px;
}
.green_text{
color: rgb(35, 206, 35);
font-weight: bold;
font-size: 25px;
}
.unit{
    color: rgb(110, 110, 110);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.bg_off{
background-color: #c5c5c5;
}
.bg_on{
    background-color: rgb(250, 255, 250);
}