.footer{
    display: flex
    ;
        position: fixed;
        bottom: 0px;
        background-color: #10194b;
        color: white;
        width: 100%;
        padding: 10px 5px;
        /* margin: auto; */
        justify-content: center;
}