<div class="comp-loader-wrapper" *ngIf="!isDataLoaded" style="height: calc(100vh - 95px); background: transparent; width: 100%;">
  <div class="comp-loader-ring">
    <div class="comp-loader-dot"></div>
  </div>
  <div class="comp-loader-info">
    <span class="comp-loader-title" style="color: #333;">Loading Overview Data</span>
    <span class="comp-loader-subtitle">Fetching live sensor data...</span>
    <div class="comp-loader-dots">
      <span></span><span></span><span></span>
    </div>
  </div>
</div>

<div class="table-container" *ngIf="isDataLoaded">
  <table>
    <thead>
      <tr>
        <th class="overview_parameter_column">
          <div class="th-inner"><span class="th-icon">⚙️</span><span class="th-text">Parameter</span></div>
        </th>
        <th [ngClass]="!isDataLoaded ? '' : (MOTOR_CURR_COMP1 <= 50 ? 'colorRed' : 'colorGreen')">
          <div class="th-inner"><span class="th-icon">🔩</span><span class="th-text">Compressor 1</span></div>
        </th>
        <th [ngClass]="!isDataLoaded ? '' : (MOTOR_CURR_COMP2 <= 50 ? 'colorRed' : 'colorGreen')">
          <div class="th-inner"><span class="th-icon">🔩</span><span class="th-text">Compressor 2</span></div>
        </th>
        <th [ngClass]="!isDataLoaded ? '' : (MOTOR_CURR_COMP3 <= 50 ? 'colorRed' : 'colorGreen')">
          <div class="th-inner"><span class="th-icon">🔩</span><span class="th-text">Compressor 3</span></div>
        </th>
        <th [ngClass]="!isDataLoaded ? '' : (MOTOR_CURR_COMP4 <= 50 ? 'colorRed' : 'colorGreen')">
          <div class="th-inner"><span class="th-icon">🔩</span><span class="th-text">Compressor 4</span></div>
        </th>
        <th [ngClass]="!isDataLoaded ? '' : (MOTOR_CURR_COMP5 <= 50 ? 'colorRed' : 'colorGreen')">
          <div class="th-inner"><span class="th-icon">🔩</span><span class="th-text">Compressor 5</span></div>
        </th>
        <th [ngClass]="!isDataLoaded ? '' : (MOTOR_CURR_COMP6 <= 50 ? 'colorRed' : 'colorGreen')">
          <div class="th-inner"><span class="th-icon">🔩</span><span class="th-text">Compressor 6</span></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row">
        <td class="text_design parameter-cell">
          <span class="row-icon">💨</span> IGCA Flow (Nm³/hr)
        </td>
        <td class="text_design" [attr.colspan]="6"><span class="data-value highlight-value">{{ igcaFlow }}</span></td>
      </tr>
      <tr class="table-row">
        <td class="text_design parameter-cell">
          <span class="row-icon">📊</span> IGCA Pressure (kg/cm²)
        </td>
        <td class="text_design" [attr.colspan]="6"><span class="data-value highlight-value">{{ igcaPresser }}</span></td>
      </tr>

      <tr class="table-row">
        <td class="text_design parameter-cell">
          <span class="row-icon">💨</span> PGCA Flow (Nm³/hr)
        </td>
        <td class="text_design" [attr.colspan]="6"><span class="data-value highlight-value">{{ pgcaFlow }}</span></td>
      </tr>

      <tr class="table-row">
        <td class="text_design parameter-cell">
          <span class="row-icon">📊</span> PGCA Pressure (kg/cm²)
        </td>
        <td class="text_design" [attr.colspan]="6"><span class="data-value highlight-value">{{ pgcaPresser }}</span></td>
      </tr>

      <tr class="table-row">
        <td class="text_design parameter-cell">
          <span class="row-icon">🌊</span> Compressor Flow (Nm³/hr)
        </td>
        <td class="text_design"><span class="data-value">{{ AI_6_COMP1 }}</span></td>
        <td class="text_design"><span class="data-value">{{ AI_6_COMP2 }}</span></td>
        <td class="text_design"><span class="data-value">{{ AI_6_COMP3 }}</span></td>
        <td class="text_design"><span class="data-value">{{ AI_6_COMP4 }}</span></td>
        <td class="text_design"><span class="data-value">{{ AI_6_COMP5 }}</span></td>
        <td class="text_design"><span class="data-value">{{ AI_6_COMP6 }}</span></td>
        <!-- <td *ngFor="let flow of compressorFlows">{{ flow }}</td> -->
      </tr>

      <tr class="table-row">
        <td class="text_design parameter-cell">
          <span class="row-icon">⚡</span> Current (amp)
        </td>
        <td class="text_design"><span class="data-value">{{ MOTOR_CURR_COMP1 }}</span></td>
        <td class="text_design"><span class="data-value">{{ MOTOR_CURR_COMP2 }}</span></td>
        <td class="text_design"><span class="data-value">{{ MOTOR_CURR_COMP3 }}</span></td>
        <td class="text_design"><span class="data-value">{{ MOTOR_CURR_COMP4 }}</span></td>
        <td class="text_design"><span class="data-value">{{ MOTOR_CURR_COMP5 }}</span></td>
        <td class="text_design"><span class="data-value">{{ MOTOR_CURR_COMP6 }}</span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-container" *ngIf="isDataLoaded">
  <table>
    <thead>
      <tr class="table-info">
        <th class="overview_parameter_column plant-name-col">
          <div class="th-inner"><span class="th-icon">🏭</span><span class="th-text">Plant Name</span></div>
        </th>
        <th class="col-igca-flow">
          <div class="th-inner"><span class="th-icon">💧</span><span class="th-text">Instrument Grade Flow(Nm³/hr)</span></div>
        </th>
        <th class="col-igca-pressure">
          <div class="th-inner"><span class="th-icon">🌡️</span><span class="th-text">Instrument Grade Pressure(kg/cm²)</span></div>
        </th>
        <th class="col-pgca-flow">
          <div class="th-inner"><span class="th-icon">🌬️</span><span class="th-text">Plant Grade Flow(Nm³/hr)</span></div>
        </th>
        <th colspan="2" class="col-pgca-pressure">
          <div class="th-inner"><span class="th-icon">📈</span><span class="th-text">Plant Grade Pressure(kg/cm²)</span></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plant of plants" class="table-row">
        <td class="text_design parameter-cell">{{ plant["name"] }}</td>
        <td class="text_design">{{ plant["if"] }}</td>
        <td class="text_design">{{ plant["ip"] }}</td>
        <td class="text_design">{{ plant["pf"] }}</td>
        <td class="text_design" colspan="2">{{ plant["pp"] }}</td>
      </tr>
    </tbody>
  </table>
</div>