table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    // margin-top: 1rem;
  }
  
  thead {
    background-color: #e0f0ff;
  }
  
  thead th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
  }
  
  tbody td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .table-title {
    background-color: #007bff;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .bg-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .bg-success {
    background-color: #28a745;
    color: white;
  }
  
  .table-info {
    background-color: #d1ecf1;
    font-weight: bold;
  }
  .colorRed{
    background-color: #f1594eab;
  }
  .colorGreen{
    background-color: #55e50b42;
  }
  .colorDefault{
    background-color: #979797d5;
  }